<!-- VARIABLES VARIABLES VARIABLES -->

<!-- DATA -->
{% assign phone_number = "+49 1234 12345678" %}
{% assign contact_person = "Manfred Mustermann" %}
{% assign managing_director = "Manfred Mustermann" %}
{% assign register_number = "HRB 123456, Berlin" %}
{% assign vat_number = "DE 123 456 789" %}

<!-- NOTES -->
{% assign thank_you_note = "Vielen Dank für Ihre Bestellung." %}
{% assign not_all_line_items_includes_message = "Es gibt weitere Artikel aus Ihrer Bestellung, die nicht in dieser Lieferung enthalten sind." %}
{% assign footer_notice = "Dies ist der Footer Notice. Dies ist der Footer Notice. Dies ist der Footer Notice. Dies ist der Footer Notice." %}


<!-- BODY BODY BODY -->

<div class="din-5008">
  <div class="briefkopf">
    <svg class="logo" width="221" height="46" viewBox="0 0 221 46" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.73864 44.8182C6.73864 44.8182 5.79545 44.7386 4.90909 44.5795C4.02273 44.4318 3.26136 44.233 2.625 43.983L4.46591 37.9318C5.28409 38.2045 6.02273 38.3636 6.68182 38.4091C7.35227 38.4545 7.92614 38.3466 8.40341 38.0852C8.89205 37.8352 9.26705 37.3864 9.52841 36.7386L9.85227 35.9545L0.545455 8.81818H9.27273L14.0966 27.5H14.3693L19.2614 8.81818H28.0398L18.1705 37.5057C17.6932 38.9375 17.017 40.1989 16.142 41.2898C15.2784 42.392 14.1591 43.2557 12.7841 43.8807C11.4205 44.5057 9.73864 44.8182 7.73864 44.8182ZM42.6136 35.4943C39.8636 35.4943 37.5 34.9318 35.5227 33.8068C33.5568 32.6705 32.0398 31.0909 30.9716 29.0682C29.9148 27.0341 29.3864 24.6761 29.3864 21.9943C29.3864 19.3011 29.9148 16.9432 30.9716 14.9205C32.0398 12.8864 33.5568 11.3068 35.5227 10.1818C37.5 9.04545 39.8636 8.47727 42.6136 8.47727C45.3636 8.47727 47.7216 9.04545 49.6875 10.1818C51.6648 11.3068 53.1818 12.8864 54.2386 14.9205C55.3068 16.9432 55.8409 19.3011 55.8409 21.9943C55.8409 24.6761 55.3068 27.0341 54.2386 29.0682C53.1818 31.0909 51.6648 32.6705 49.6875 33.8068C47.7216 34.9318 45.3636 35.4943 42.6136 35.4943ZM42.6648 29.2045C43.6648 29.2045 44.5114 28.8977 45.2045 28.2841C45.8977 27.6705 46.4261 26.8182 46.7898 25.7273C47.1648 24.6364 47.3523 23.375 47.3523 21.9432C47.3523 20.4886 47.1648 19.2159 46.7898 18.125C46.4261 17.0341 45.8977 16.1818 45.2045 15.5682C44.5114 14.9545 43.6648 14.6477 42.6648 14.6477C41.6307 14.6477 40.7557 14.9545 40.0398 15.5682C39.3352 16.1818 38.7955 17.0341 38.4205 18.125C38.0568 19.2159 37.875 20.4886 37.875 21.9432C37.875 23.375 38.0568 24.6364 38.4205 25.7273C38.7955 26.8182 39.3352 27.6705 40.0398 28.2841C40.7557 28.8977 41.6307 29.2045 42.6648 29.2045ZM77.0028 23.6989V8.81818H85.321V35H77.3778V30.125H77.1051C76.5256 31.7273 75.5369 33 74.1392 33.9432C72.7528 34.875 71.0767 35.3409 69.1108 35.3409C67.3267 35.3409 65.7585 34.9318 64.4062 34.1136C63.054 33.2955 62.0028 32.1534 61.2528 30.6875C60.5028 29.2102 60.1222 27.483 60.1108 25.5057V8.81818H68.446V23.8693C68.4574 25.2898 68.8324 26.4091 69.571 27.2273C70.3097 28.0455 71.3153 28.4545 72.5881 28.4545C73.4176 28.4545 74.1619 28.2727 74.821 27.9091C75.4915 27.5341 76.0199 26.9943 76.4062 26.2898C76.804 25.5739 77.0028 24.7102 77.0028 23.6989ZM90.6264 35V8.81818H98.723V13.5909H98.9957C99.473 11.8636 100.251 10.5795 101.331 9.73864C102.411 8.88636 103.666 8.46023 105.098 8.46023C105.484 8.46023 105.882 8.48864 106.291 8.54545C106.7 8.59091 107.081 8.66477 107.433 8.76705V16.0114C107.036 15.875 106.513 15.767 105.865 15.6875C105.229 15.608 104.661 15.5682 104.161 15.5682C103.172 15.5682 102.28 15.7898 101.484 16.233C100.7 16.6648 100.081 17.2727 99.6264 18.0568C99.1832 18.8295 98.9616 19.7386 98.9616 20.7841V35H90.6264ZM129.477 0.0909081V35H121.142V0.0909081H129.477ZM147.004 35.4943C144.254 35.4943 141.891 34.9318 139.913 33.8068C137.947 32.6705 136.43 31.0909 135.362 29.0682C134.305 27.0341 133.777 24.6761 133.777 21.9943C133.777 19.3011 134.305 16.9432 135.362 14.9205C136.43 12.8864 137.947 11.3068 139.913 10.1818C141.891 9.04545 144.254 8.47727 147.004 8.47727C149.754 8.47727 152.112 9.04545 154.078 10.1818C156.055 11.3068 157.572 12.8864 158.629 14.9205C159.697 16.9432 160.232 19.3011 160.232 21.9943C160.232 24.6761 159.697 27.0341 158.629 29.0682C157.572 31.0909 156.055 32.6705 154.078 33.8068C152.112 34.9318 149.754 35.4943 147.004 35.4943ZM147.055 29.2045C148.055 29.2045 148.902 28.8977 149.595 28.2841C150.288 27.6705 150.817 26.8182 151.18 25.7273C151.555 24.6364 151.743 23.375 151.743 21.9432C151.743 20.4886 151.555 19.2159 151.18 18.125C150.817 17.0341 150.288 16.1818 149.595 15.5682C148.902 14.9545 148.055 14.6477 147.055 14.6477C146.021 14.6477 145.146 14.9545 144.43 15.5682C143.726 16.1818 143.186 17.0341 142.811 18.125C142.447 19.2159 142.266 20.4886 142.266 21.9432C142.266 23.375 142.447 24.6364 142.811 25.7273C143.186 26.8182 143.726 27.6705 144.43 28.2841C145.146 28.8977 146.021 29.2045 147.055 29.2045ZM176.706 45.3636C174.217 45.3636 172.087 45.017 170.314 44.3239C168.541 43.6307 167.149 42.6818 166.138 41.4773C165.126 40.2727 164.518 38.9091 164.314 37.3864L172.206 36.9432C172.354 37.4773 172.626 37.9432 173.024 38.3409C173.433 38.7386 173.962 39.0455 174.609 39.2614C175.268 39.4773 176.041 39.5852 176.928 39.5852C178.325 39.5852 179.479 39.2443 180.388 38.5625C181.308 37.892 181.768 36.7159 181.768 35.0341V30.4318H181.479C181.149 31.2386 180.649 31.9602 179.979 32.5966C179.308 33.233 178.473 33.733 177.473 34.0966C176.484 34.4602 175.348 34.642 174.064 34.642C172.155 34.642 170.405 34.1989 168.814 33.3125C167.234 32.4148 165.967 31.0284 165.013 29.1534C164.07 27.267 163.598 24.8409 163.598 21.875C163.598 18.8182 164.087 16.3011 165.064 14.3239C166.041 12.3352 167.32 10.8636 168.899 9.90909C170.49 8.95455 172.2 8.47727 174.03 8.47727C175.405 8.47727 176.581 8.71591 177.558 9.19318C178.547 9.65909 179.359 10.2614 179.996 11C180.632 11.7386 181.115 12.5057 181.445 13.3011H181.683V8.81818H189.984V35.1023C189.984 37.3182 189.428 39.1875 188.314 40.7102C187.2 42.233 185.643 43.3864 183.643 44.1705C181.643 44.9659 179.331 45.3636 176.706 45.3636ZM176.962 28.5739C177.973 28.5739 178.837 28.3068 179.553 27.7727C180.268 27.2386 180.82 26.4716 181.206 25.4716C181.592 24.4716 181.786 23.2727 181.786 21.875C181.786 20.4545 181.592 19.233 181.206 18.2102C180.831 17.1761 180.28 16.3807 179.553 15.8239C178.837 15.267 177.973 14.9886 176.962 14.9886C175.928 14.9886 175.053 15.2727 174.337 15.8409C173.621 16.4091 173.075 17.2102 172.7 18.2443C172.337 19.267 172.155 20.4773 172.155 21.875C172.155 23.2727 172.342 24.4716 172.717 25.4716C173.092 26.4716 173.632 27.2386 174.337 27.7727C175.053 28.3068 175.928 28.5739 176.962 28.5739ZM207.52 35.4943C204.77 35.4943 202.406 34.9318 200.429 33.8068C198.463 32.6705 196.946 31.0909 195.878 29.0682C194.821 27.0341 194.293 24.6761 194.293 21.9943C194.293 19.3011 194.821 16.9432 195.878 14.9205C196.946 12.8864 198.463 11.3068 200.429 10.1818C202.406 9.04545 204.77 8.47727 207.52 8.47727C210.27 8.47727 212.628 9.04545 214.594 10.1818C216.571 11.3068 218.088 12.8864 219.145 14.9205C220.213 16.9432 220.747 19.3011 220.747 21.9943C220.747 24.6761 220.213 27.0341 219.145 29.0682C218.088 31.0909 216.571 32.6705 214.594 33.8068C212.628 34.9318 210.27 35.4943 207.52 35.4943ZM207.571 29.2045C208.571 29.2045 209.418 28.8977 210.111 28.2841C210.804 27.6705 211.332 26.8182 211.696 25.7273C212.071 24.6364 212.259 23.375 212.259 21.9432C212.259 20.4886 212.071 19.2159 211.696 18.125C211.332 17.0341 210.804 16.1818 210.111 15.5682C209.418 14.9545 208.571 14.6477 207.571 14.6477C206.537 14.6477 205.662 14.9545 204.946 15.5682C204.241 16.1818 203.702 17.0341 203.327 18.125C202.963 19.2159 202.781 20.4886 202.781 21.9432C202.781 23.375 202.963 24.6364 203.327 25.7273C203.702 26.8182 204.241 27.6705 204.946 28.2841C205.662 28.8977 206.537 29.2045 207.571 29.2045Z" fill="black"/>
      </svg>
  </div>
  <div class="rucksendeangabe">
    <u>Acme GmbH | Rücksendestraße. 80 | 80000 München</u>
  </div>
  <div class="vermerkzone">
    <i>Bücher- und Warensendung (BÜWA)</i>
  </div>
  <div class="anschriftzone">
    Manfred Mustermann<br />
    Phantasiestr. 1<br />
    20000 Hamburg
  </div>
  <div class="informationsblock">
    <p style="font-weight: 600">Acme GmbH</p>
    <table>
      <tbody>
        <tr>
          <td>Internet:</td>
          <td>acme.shopify.com</td>
        </tr>
        <tr>
          <td>E-Mail:</td>
          <td>service@example.com</td>
        </tr>
        <tr>
          <td>Telefon:</td>
          <td>{{ phone_number }}</td>
        </tr>
        <tr>
          <td>Ihre Ansprechpartnerin:</td>
          <td>{{ contact_person }}</td>
        </tr>
        <tr>
          <td>Kundenservice:</td>
          <td>Mo. - Fr., 9:00 - 18:00 Uhr</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Bestellnummer:</td>
          <td>#1001</td>
        </tr>
        <tr>
          <td>Bestelldatum:</td>
          <td>01.01.2024</td>
        </tr>
        <tr>
          <td>Lieferdatum:</td>
          <td>01.02.2024</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="textfeld">
    <h1>
      Lieferschein
      <span style="font-size: 10pt">für Bestellung #1001</span>
    </h1>
    <p style="font-size: 8pt">Es gibt weitere Artikel aus Ihrer Bestellung, die nicht in dieser Lieferung enthalten sind.</p>
    <table>
      <thead>
        <tr>
          <th>Pos.</th>
          <th>ISBN / SKU</th>
          <th>Titel / Artikel</th>
          <th>Anzahl</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: center">1</td>
          <td>9780123456789</td>
          <td>
            Continuous Delivery<br />
            <span style="font-size: 8pt">Softcover</span>
          </td>
          <td style="text-align: center">
            1 von 3
          </td>
        </tr>
      </tbody>
    </table>
    <p class="note">
      <span class="subtitle-bold to-uppercase">Bestellnotiz: </span>This is an order note.
    </p>
    <p class="note">
      <span class="subtitle-bold to-uppercase">Zustellnotiz: </span>This is a delivery note.
    </p>
    <p class="note">{{ thank_you_note }}</p>
  </div>
  <div class="seitenangabe"></div>
  <div class="fusszeile">
    <p style="font-size: 8pt">
      {{ footer_notice }}
    </p>
    <table>
      <tbody>
        <tr>
          <td>Acme GmbH</td>
          <td>Geschäftsführung: {{ managing_director }}</td>
        </tr>
        <tr>
          <td>Phantasieweg 2</td>
          <td>Handelsregister-Nr.: {{ register_number }}</td>
        </tr>
        <td>10000 Berlin</td>
        <td>USt-IdNr.: {{ vat_number }}</td>
      </tbody>
    </table>
  </div>
</div>

<!-- CSS CSS CSS -->

<style type="text/css">
  @page {
    size: A4;
    margin: 0;
  }

  body {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 10pt;
  }

  @media screen {
    body {
      /* background-color: red; */
      background: #e0e0e0;
      margin: 10mm;
    }

    .din-5008 {
      /* background-color: green; */
      background: white;
      box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0.3);
      margin: 0mm auto;
    }
  }

  .din-5008 {
    /* background-color: blue; */
    display: block;
    margin: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    page-break-after: always;
    width: 210mm;
    height: 296mm;
    padding-right: 20mm;
  }

  .din-5008[form="B"] {
    padding-top: 45mm;
  }

  .din-5008 {
    padding-top: 27mm;
  }

  /* Falt- und Lochmarken */
  .din-5008::before,
  .din-5008::after {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    border: 2pt solid var(--markers, rgba(0, 0, 0, 0.3));
    border-left: none;
    border-right: none;
    width: 10mm;
  }

  .din-5008::after {
    top: 148.5mm;
    width: 15mm;
    border-bottom: none;
  }

  .din-5008::before {
    height: calc(105mm - 2pt);
  }

  .din-5008::before {
    top: 87mm;
  }

  .din-5008[form="B"]::before {
    top: 105mm;
  }

  .din-5008[no-markers]::before,
  .din-5008[no-markers]::after {
    display: none;
  }

  .din-5008 briefkopf,
  .din-5008 .briefkopf,
  .din-5008 rucksendeangabe,
  .din-5008 .rucksendeangabe,
  .din-5008 vermerkzone,
  .din-5008 .vermerkzone,
  .din-5008 anschriftzone,
  .din-5008 .anschriftzone,
  .din-5008 informationsblock,
  .din-5008 .informationsblock,
  .din-5008 textfeld,
  .din-5008 .textfeld,
  .din-5008 seitenangabe,
  .din-5008 .seitenangabe,
  .din-5008 fusszeile,
  .din-5008 .fusszeile {
    display: block;
  }

  .din-5008 briefkopf,
  .din-5008 .briefkopf {
    /* background-color: yellow; */
    position: absolute;
    top: 0;
    left: 0;
    width: 210mm;
    height: 27mm;
  }

  .din-5008[form="B"] briefkopf,
  .din-5008[form="B"] .briefkopf {
    height: 45mm;
  }

  .din-5008 rucksendeangabe,
  .din-5008 .rucksendeangabe,
  .din-5008 vermerkzone,
  .din-5008 .vermerkzone,
  .din-5008 anschriftzone,
  .din-5008 .anschriftzone {
    /* background-color: purple; */
    position: absolute;
    left: 20mm;
    width: 80mm;
  }

  .din-5008 rucksendeangabe,
  .din-5008 .rucksendeangabe {
    /* background-color: blue; */
    font-size: 8pt;
    top: 27mm;
    height: 5mm;
  }

  .din-5008[form="B"] rucksendeangabe,
  .din-5008[form="B"] .rucksendeangabe {
    display: none;
  }

  .din-5008 vermerkzone,
  .din-5008 .vermerkzone {
    /* background-color: red; */
    top: 32mm;
    height: 12.7mm;
  }

  .din-5008[form="B"] vermerkzone,
  .din-5008[form="B"] .vermerkzone {
    top: 45mm;
    height: 17.7mm;
  }

  .din-5008 anschriftzone,
  .din-5008 .anschriftzone {
    /* background-color: green; */
    top: 40mm;
    height: 27.3mm;
  }

  .din-5008[form="B"] anschriftzone,
  .din-5008[form="B"] .anschriftzone {
    top: 62.7mm;
    height: 27.3mm;
  }

  .din-5008 informationsblock,
  .din-5008 .informationsblock {
    /* background-color: purple; */
    margin: 3mm 0 8.46mm 125mm;
    max-width: 75mm;
    min-height: 40mm;
    font-size: 10pt;
  }

  .din-5008[form="B"] informationsblock,
  .din-5008[form="B"] .informationsblock {
    height: 40mm;
  }

  .din-5008 textfeld,
  .din-5008 .textfeld {
    /* background-color: purple; */
    margin: 0 0 4.23mm 20mm;
  }

  .din-5008 seitenangabe,
  .din-5008 .seitenangabe {
    text-align: right;
    margin: 0 0 4.23mm;
  }

  .din-5008 fusszeile,
  .din-5008 .fusszeile {
    position: absolute;
    bottom: 6.5mm;
    left: 20mm;
    width: 165mm;
    text-align: center;
  }

  @media print {
    .din-5008 {
      width: 210mm;
    }
  }

  .subtitle-bold {
    font-weight: bold;
    margin: 0;
    font-size: 0.85em;
  }

  .to-uppercase {
    text-transform: uppercase;
  }

  svg.logo {
    width: 80mm;
    float: right;
    margin-top: 5mm;
    margin-right: 12mm;
  }

  .note {
    margin-top: 10mm;
  }

  /* Table Styles */

  .textfeld table {
    font-size: 10pt;
    word-break: normal;
    vertical-align: top;
    text-align: left;
    overflow: hidden;
    width: 100%;
  }

  .textfeld table th,
  .textfeld table td {
    padding: 10px 5px;
    border-color: inherit;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: #c0c0c0;
    border-style: solid;
    border-top-width: 1px;
    border-spacing: 0;
    border-collapse: collapse;
  }

  .textfeld table th {
    background-color: #c0c0c0;
  }

  .textfeld table td {
    background-color: #efefef;
  }

  .fusszeile table {
    font-size: 8pt;
    word-break: normal;
    vertical-align: top;
    text-align: left;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }

  .fusszeile table td {
    padding-left: 5mm;
    padding-right: 5mm;
  }

  .informationsblock table {
    font-size: 8pt;
  }
</style>
